.filterContainer {
	display: flex;
	justify-content: space-around;
}

.toggleBarContainer {
	color: white;
}
.toggleBarContainer ul {
	display: inline-flex;
	list-style: none;
}
.toggleBarContainer li {
	padding: 0.5rem;
}
