.movieCardContainer {
	border-radius: 8px;
	overflow: hidden;
}

.movieCardImageContainer {
	height: 200px;
	background-size: cover;
	background-position: center;
}

.movieCardDetailsContainer {
	height: 200px;
}
