.universalBtn {
	background: #606060ad;
	border-radius: 4px;
	color: #f65261;
	padding: 12px;
	text-transform: uppercase;
}
.searchBtn {
	background: #f65261;
	border-radius: 4px;
	color: white;
	text-transform: uppercase;
	width: 130px;
	height: 30px;
}
