.dropDownSelector {
	width: 100px;
	padding: 5px 35px 5px 5px;
	height: 34px;
	background-color: transparent;
	color: white;
	background-image: url('../../../src/assets/images/dropdown-red-arrow.png'),
		no-repeat;
}
